

<div class="container-registro" >
  <!-- Content here -->


  <!-- Content here -->
  <h1>  añadir ruta </h1>


  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">clase</span>
    </div>
    <input type="text" class="form-control" placeholder=" " aria-label="nombre" aria-describedby="basic-addon1" [(ngModel)]="ruta.codigo" >
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">descripcion</span>
    </div>
    <input type="text" class="form-control" placeholder=" " aria-label="nombre" aria-describedby="basic-addon1" [(ngModel)]="ruta.descripcion" >
  </div>

  

  
<div class="btn-group" role="group" aria-label="Basic example">
  
  <button type="button" class="btn btn-secondary" (click)="createruta()">añadir</button>



</div>

</div>